body {
    background-color: white;
}
.title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: white;
}



.title > h1 {
    
    font-family: 'Stalinist One', cursive;
    background-color: red;
    color: white;
    font-size: 45px;
    height: 100px;
    width: 1550px;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    
}


.menu {
    background-color: black;
    overflow: hidden;
    
    text-align: justify;
}
.menu a{
    font-family: 'Stalinist One', cursive;
    float: left;
    text-align: end;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 15px;
    
    

}
.menu a:hover{
    background-color: red;
    color: white;
}
.C > h1 {
    
    font-family: 'Stalinist One', cursive;
    
    color:black;
    font-size: 45px;
    border: 20px solid black;
    
    text-align: center;
    line-height: 75px;
    
    
}
.info {
    margin: auto;
    text-align: center;
    color:black;
    border: 8px solid red;
    width: 60%;
    padding: 10px;
    
    

    

}

.info > h2 {
    font-family: 'Stalinist One', cursive;
    line-height: 20px;
    text-align: center;
   
}
.label{
    color:black;
}
.i2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    text-align: center;
    color:black;
}


.inquire{
    margin: auto;
    text-align: center;
    border: 8px solid red;
    width: 60%;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    text-align: center;
    color:black;
}

@media screen and (max-width:1500px){
    .info > h2{
        
        font-size: 15px;
        
        
        
    }
    
    
}

@media screen and (max-width:750px){
    .info > h2{
        
        font-size: 10px;
        
        
        
    }
    
    
}
@media screen and (max-width:750px){
    .info > h2{
        
        font-size: 6px;
        
        
        
    }
    .inquire {
        width : 100%;
    }
    .C > h1{
        font-size:20px;
    }
    
}