/* setting background colour */
body {
    background-color: white;
}

/* flex for title*/
.title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: white;
}


/* text colour, font for title*/
.title > h1 {
    
    font-family: 'Stalinist One', cursive;
    background-color: red;
    color: white;
    font-size: 45px;
    height: 100px;
    width: 1550px;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    
}

/* menu colour */
.menu {
    background-color: black;
    overflow: hidden;
    
    text-align: justify;
}

/* text colour, font size, font for menu*/
.menu a{
    font-family: 'Stalinist One', cursive;
    float: left;
    text-align: end;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 15px;
    
    

}

/* text colour for hover*/
.menu a:hover{
    background-color: red;
    color: white;
}


/* text colour, font, font size, text alignment and line height for Merchandise text*/
.M> h1 {
    
    font-family: 'Stalinist One', cursive;
    
    color:black;
    font-size: 45px;
    border: 20px solid black;
    
    text-align: center;
    line-height: 75px;
    
    
}

/* text colour, font, font size, padding, flexbox and flex direction for Merchandise box*/
.merch {
    
    font-family: 'Stalinist One', cursive;
    text-align: center;
    flex: 45%;
    padding: 5px;
    border: 20px solid black;
    display: flex;
    flex-direction: row;
    
 }
 




/* text colour for hover */
.merch a:hover{
    background-color: red;
    color: white;
    

}

/* adjusting to different screen sizes*/
@media screen and (max-width:1500px){
    
    .M> h1 {
    
        
        font-size: 20px;
        
        
    }    
    
    
    .merch{
        flex-direction: column;
        flex: 100%;
        
        
        
    }
}