body {
    background-color: white;
}
.title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: white;
}



.title > h1 {
    
    font-family: 'Stalinist One', cursive;
    background-color: red;
    color: white;
    font-size: 45px;
    height: 100px;
    width: 1550px;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    
}


.menu {
    background-color: black;
    overflow: hidden;
    
    text-align: justify;
}
.menu a{
    font-family: 'Stalinist One', cursive;
    float: left;
    text-align: end;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 15px;
    
    

}
.menu a:hover{
    background-color: red;
    color: white;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  
    width: 100%;
    height: 100%;
  
    border-radius: 4px;
    background-color: #FAE8F8;
  }
  
  .superm_pic {
    
    border-radius: 4px;
    display: flex;
  }
  
  .superm_pic > img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
  }

.TM {
    border: 20px solid black;
    display: flex;
    flex-direction: row;
    
    
  }
  
 .tours-merch {
    
    font-family: 'Stalinist One', cursive;
    text-align: center;
    flex: 45%;
    padding: 5px;
    
 }
 





.tours-merch a:hover{
    background-color: red;
    color: white;
    

}
.flexvideo{
    
    display: flex;

}


.latest-video{
    border: 20px solid #FA0A0A;
    font-family: 'Stalinist One', cursive;
    text-align: center;
    flex: 1;
    overflow: hidden;
    position: relative;
    padding-bottom: 45%;
    height: 0;
 }
    


@media screen and (max-width:1500px){
    .TM{
        flex-direction: column;
        font-size: 10px;
        
        
        
    }
    
    
}
    
  

